.card__remove {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/recyle-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.card__remove:hover {
  opacity: .6;
  transition: opacity .3s ease;
  cursor: pointer;
}