.header__button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    margin: 0;
    text-decoration: none;
}

@media (max-width: 767px) {
    .auth-form__button {
        font-size: 14px;
        line-height: 17px;
    }
}